qwerty/AisBenefits.Infrastructure/Eip/Pfr/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!---->
<!---->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ct="http://www.ukmv.ru/Schemas/CommonTypes" targetNamespace="http://www.ukmv.ru/Schemas/CommonTypes" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<!--Общие простые типы-->
	<xs:simpleType name="Base64Type">
		<xs:annotation>
			<xs:documentation>Файл в формате base64Binary</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:simpleType name="BirthDateType">
		<xs:annotation>
			<xs:documentation>Дата рождения</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:DateType"/>
	</xs:simpleType>
	<xs:simpleType name="BooleanType">
		<xs:annotation>
			<xs:documentation>Тип булеан</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="DateGeneralType">
		<xs:annotation>
			<xs:documentation>Дата без ограничений</xs:documentation>
			<xs:appinfo>
				<Error Text="Введите дату в формате ДД.ММ.ГГГГ, не ранее 01.01.1600 и не позднее 31.12.2050"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="DateType">
		<xs:annotation>
			<xs:documentation>Дата</xs:documentation>
			<xs:appinfo>
				<Error Text="Введите дату в формате ДД.ММ.ГГГГ, не ранее 01.01.1600 и не позднее 31.12.2050"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:minInclusive value="1600-01-01"/>
			<xs:maxInclusive value="2050-12-31"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateTimeGeneralType">
		<xs:annotation>
			<xs:documentation>Дата и время без ограничений</xs:documentation>
			<xs:appinfo>
				<Error Text="Введите дату в формате ДД.ММ.ГГГГ, не ранее 01.01.1600 и не позднее 31.12.2050"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="DateTimeType">
		<xs:annotation>
			<xs:documentation>Дата и время</xs:documentation>
			<xs:appinfo>
				<Error Text="Введите дату в формате ДД.ММ.ГГГГ, не ранее 01.01.1600 и не позднее 31.12.2050"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:minInclusive value="1600-01-01T00:00:00" fixed="false"/>
			<xs:maxInclusive value="2050-12-31T23:59:59"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EnumerationType">
		<xs:annotation>
			<xs:documentation>Перечисление</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="FiasType">
		<xs:annotation>
			<xs:documentation>Код адреса объекта недвижимости по ФИАС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType">
			<xs:maxLength value="36"/>
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FirstNameType">
		<xs:annotation>
			<xs:documentation>Имя</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType">
			<xs:maxLength value="50"/>
			<xs:pattern value="[a-zA-Zа-яА-ЯёЁ\-0-9][a-zA-Zа-яА-ЯёЁ\-\s'',.]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FrguCodeType">
		<xs:annotation>
			<xs:documentation>Код ФРГУ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType">
			<xs:minLength value="1"/>
			<xs:maxLength value="19"/>
			<xs:pattern value="([0-9]+)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GenderType">
		<xs:annotation>
			<xs:documentation>Пол</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:EnumerationType">
			<xs:enumeration value="Male">
				<xs:annotation>
					<xs:documentation>Мужской</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Female">
				<xs:annotation>
					<xs:documentation>Женский</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GuidType">
		<xs:annotation>
			<xs:documentation xml:lang="ru">ГУИД</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringType">
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HtmlType">
		<xs:annotation>
			<xs:documentation>HTML-файл, полученный путем преобразования ответа с помощью XSLT-преобразования.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:simpleType name="IndexType">
		<xs:annotation>
			<xs:documentation>Индекс</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType">
			<xs:length value="6"/>
			<xs:pattern value="\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IntegerType">
		<xs:annotation>
			<xs:documentation>Тип Integer</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer"/>
	</xs:simpleType>
	<xs:simpleType name="INNFLType">
		<xs:annotation>
			<xs:documentation>ИНН физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INNULType">
		<xs:annotation>
			<xs:documentation>ИНН юридического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IssueDateType">
		<xs:annotation>
			<xs:documentation>Дата выдачи документа, удостоверяющего личность.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:DateType"/>
	</xs:simpleType>
	<xs:simpleType name="IssuerType">
		<xs:annotation>
			<xs:documentation>Кем выдан документ, удостоверяющий личность.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringMiddleType"/>
	</xs:simpleType>
	<xs:simpleType name="RussianTextAndNumbers">
		<xs:annotation>
			<xs:documentation>Русский текст. Допускаются также пробелы, цифры, точки, запятые, тире, апострофы.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[а-яА-ЯёЁ\-0-9][а-яА-ЯёЁ\-\s'',.0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KppType">
		<xs:annotation>
			<xs:documentation>КПП</xs:documentation>
			<xs:appinfo>
				<Error Text="Введите значение из 9 символов (с 1 по 4 - цифры, с 5 по 6 - цифры или латиница, с 7 по 9 - цифры)"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LastNameType">
		<xs:annotation>
			<xs:documentation>Фамилия</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType">
			<xs:maxLength value="50"/>
			<xs:pattern value="[a-zA-Zа-яА-ЯёЁ\-0-9][a-zA-Zа-яА-ЯёЁ\-\s'',.]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MiddleNameType">
		<xs:annotation>
			<xs:documentation>Отчество</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType">
			<xs:maxLength value="50"/>
			<xs:pattern value="[a-zA-Zа-яА-ЯёЁ\-0-9][a-zA-Zа-яА-ЯёЁ\-\s'',.]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MoneyType">
		<xs:annotation>
			<xs:documentation>Денежная сумма с точностью до копеек (вещественное число, 2 знака после запятой)</xs:documentation>
			<xs:appinfo>
				<Error Text="Введите денежную сумму, содержащую не больше 2-х десятичных знаков"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="9999999999999.99"/>
			<xs:pattern value="\d{1,13}(\.\d{1,2})|\d{1,13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MonthType">
		<xs:annotation>
			<xs:documentation>Месяц</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:gMonth"/>
	</xs:simpleType>
	<xs:simpleType name="MonthYearType">
		<xs:annotation>
			<xs:documentation>Месяц и год</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:gYearMonth">
			<xs:minInclusive value="1600-01"/>
			<xs:maxInclusive value="2050-12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumberType">
		<xs:annotation>
			<xs:documentation>Номер документа, удостоверяющего личность.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType"/>
	</xs:simpleType>
	<xs:simpleType name="NumberPositiveType">
		<xs:annotation>
			<xs:documentation>Положительное целое число</xs:documentation>
			<xs:appinfo>
				<Error Text="Введите целое положительное число (0 исключается)"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="ct:IntegerType">
			<xs:maxInclusive value="9999"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OGRNType">
		<xs:annotation>
			<xs:documentation>ОГРН</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType">
			<xs:length value="13"/>
			<xs:pattern value="[0-9]{13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OGRNIPType">
		<xs:annotation>
			<xs:documentation>ОГРНИП</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType">
			<xs:length value="15"/>
			<xs:pattern value="[0-9]{15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OkatoType">
		<xs:annotation>
			<xs:documentation>ОКАТО</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType">
			<xs:maxLength value="11"/>
			<xs:pattern value="\d{1,11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OktmoType">
		<xs:annotation>
			<xs:documentation>ОКТМО</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType">
			<xs:maxLength value="11"/>
			<xs:pattern value="([0-9]){8}|([0-9]){11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RegionNameType">
		<xs:annotation>
			<xs:documentation>Наименование региона</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType"/>
	</xs:simpleType>
	<xs:simpleType name="RegionCodeType">
		<xs:annotation>
			<xs:documentation>Код региона</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:EnumerationType">
			<xs:enumeration value="01">
				<xs:annotation>
					<xs:documentation>Республика Адыгея</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="02">
				<xs:annotation>
					<xs:documentation>Республика Башкортостан</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="03">
				<xs:annotation>
					<xs:documentation>Республика Бурятия</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="04">
				<xs:annotation>
					<xs:documentation>Республика Алтай</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="05">
				<xs:annotation>
					<xs:documentation>Республика Дагестан</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="06">
				<xs:annotation>
					<xs:documentation>Республика Ингушетия</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="07">
				<xs:annotation>
					<xs:documentation>Кабардино-Балкарская Республика</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="08">
				<xs:annotation>
					<xs:documentation>Республика Калмыкия</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="09">
				<xs:annotation>
					<xs:documentation>Карачаево-Черкесская Республика</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>Республика Карелия</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation>Республика Коми</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation>Республика Марий Эл</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation>Республика Мордовия</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation>Республика Саха (Якутия)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation>Республика Северная Осетия — Алания</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="16">
				<xs:annotation>
					<xs:documentation>Республика Татарстан (Татарстан)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="17">
				<xs:annotation>
					<xs:documentation>Республика Тыва</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="18">
				<xs:annotation>
					<xs:documentation>Удмуртская Республика</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="19">
				<xs:annotation>
					<xs:documentation>Республика Хакасия</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="20">
				<xs:annotation>
					<xs:documentation>Чеченская Республика</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="21">
				<xs:annotation>
					<xs:documentation>Чувашская Республика — Чувашия</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="22">
				<xs:annotation>
					<xs:documentation>Алтайский край</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="23">
				<xs:annotation>
					<xs:documentation>Краснодарский край</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="24">
				<xs:annotation>
					<xs:documentation>Красноярский край</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="25">
				<xs:annotation>
					<xs:documentation>Приморский край</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="26">
				<xs:annotation>
					<xs:documentation>Ставропольский край</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="27">
				<xs:annotation>
					<xs:documentation>Хабаровский край</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="28">
				<xs:annotation>
					<xs:documentation>Амурская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="29">
				<xs:annotation>
					<xs:documentation>Архангельская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="30">
				<xs:annotation>
					<xs:documentation>Астраханская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="31">
				<xs:annotation>
					<xs:documentation>Белгородская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="32">
				<xs:annotation>
					<xs:documentation>Брянская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="33">
				<xs:annotation>
					<xs:documentation>Владимирская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="34">
				<xs:annotation>
					<xs:documentation>Волгоградская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="35">
				<xs:annotation>
					<xs:documentation>Вологодская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="36">
				<xs:annotation>
					<xs:documentation>Воронежская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="37">
				<xs:annotation>
					<xs:documentation>Ивановская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="38">
				<xs:annotation>
					<xs:documentation>Иркутская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="39">
				<xs:annotation>
					<xs:documentation>Калининградская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="40">
				<xs:annotation>
					<xs:documentation>Калужская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="41">
				<xs:annotation>
					<xs:documentation>Камчатский край</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="42">
				<xs:annotation>
					<xs:documentation>Кемеровская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="43">
				<xs:annotation>
					<xs:documentation>Кировская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="44">
				<xs:annotation>
					<xs:documentation>Костромская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="45">
				<xs:annotation>
					<xs:documentation>Курганская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="46">
				<xs:annotation>
					<xs:documentation>Курская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="47">
				<xs:annotation>
					<xs:documentation>Ленинградская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="48">
				<xs:annotation>
					<xs:documentation>Липецкая область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="49">
				<xs:annotation>
					<xs:documentation>Магаданская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="50">
				<xs:annotation>
					<xs:documentation>Московская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="51">
				<xs:annotation>
					<xs:documentation>Мурманская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="52">
				<xs:annotation>
					<xs:documentation>Нижегородская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="53">
				<xs:annotation>
					<xs:documentation>Новгородская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="54">
				<xs:annotation>
					<xs:documentation>Новосибирская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="55">
				<xs:annotation>
					<xs:documentation>Омская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="56">
				<xs:annotation>
					<xs:documentation>Оренбургская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="57">
				<xs:annotation>
					<xs:documentation>Орловская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="58">
				<xs:annotation>
					<xs:documentation>Пензенская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="59">
				<xs:annotation>
					<xs:documentation>Пермский край</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="60">
				<xs:annotation>
					<xs:documentation>Псковская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="61">
				<xs:annotation>
					<xs:documentation>Ростовская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="62">
				<xs:annotation>
					<xs:documentation>Рязанская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="63">
				<xs:annotation>
					<xs:documentation>Самарская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="64">
				<xs:annotation>
					<xs:documentation>Саратовская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="65">
				<xs:annotation>
					<xs:documentation>Сахалинская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="66">
				<xs:annotation>
					<xs:documentation>Свердловская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="67">
				<xs:annotation>
					<xs:documentation>Смоленская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="68">
				<xs:annotation>
					<xs:documentation>Тамбовская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="69">
				<xs:annotation>
					<xs:documentation>Тверская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="70">
				<xs:annotation>
					<xs:documentation>Томская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="71">
				<xs:annotation>
					<xs:documentation>Тульская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="72">
				<xs:annotation>
					<xs:documentation>Тюменская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="73">
				<xs:annotation>
					<xs:documentation>Ульяновская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="74">
				<xs:annotation>
					<xs:documentation>Челябинская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="75">
				<xs:annotation>
					<xs:documentation>Забайкальский край</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="76">
				<xs:annotation>
					<xs:documentation>Ярославская область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="77">
				<xs:annotation>
					<xs:documentation>Город Москва</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="78">
				<xs:annotation>
					<xs:documentation>Санкт-Петербург</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="79">
				<xs:annotation>
					<xs:documentation>Еврейская автономная область</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="83">
				<xs:annotation>
					<xs:documentation>Ненецкий автономный округ</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="91">
				<xs:annotation>
					<xs:documentation>Республика Крым</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="86">
				<xs:annotation>
					<xs:documentation>Ханты-Мансийский автономный округ — Югра</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="87">
				<xs:annotation>
					<xs:documentation>Чукотский автономный округ</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="89">
				<xs:annotation>
					<xs:documentation>Ямало-Ненецкий автономный округ</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="92">
				<xs:annotation>
					<xs:documentation>Севастополь</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeriesType">
		<xs:annotation>
			<xs:documentation>Серия документа, удостоверяющего личность.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringShortType"/>
	</xs:simpleType>
	<xs:simpleType name="SignatureType">
		<xs:annotation>
			<xs:documentation>Подпись XML-ответа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:simpleType name="StringType">
		<xs:annotation>
			<xs:documentation>Строка. Разрешены символы с кодами 32-126, русские буквы: А-Я, а-я (включая Ё и ё), №, длинное, среднее и цифровое тире. Запрещены начальные и концевые пробелы. Не допускается использовать строку нулевой длины. Не допускаются более одного пробела подряд.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="String100Type">
		<xs:annotation>
			<xs:documentation>Средняя строка (до 100 символов)</xs:documentation>
			<xs:appinfo>
				<Error Text="Введите строку длиной до 100 символов, исключая специальные символы и двойные пробелы"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="ct:StringType">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String1000Type">
		<xs:annotation>
			<xs:documentation>Средняя строка (до 1000 символов)</xs:documentation>
			<xs:appinfo>
				<Error Text="Введите строку длиной до 100 символов, исключая специальные символы и двойные пробелы"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="ct:StringType">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String2000Type">
		<xs:annotation>
			<xs:documentation>Средняя строка (до 2000 символов)</xs:documentation>
			<xs:appinfo>
				<Error Text="Введите строку длиной до 100 символов, исключая специальные символы и двойные пробелы"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="ct:StringType">
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringMiddleType">
		<xs:annotation>
			<xs:documentation>Средняя строка (до 260 символов)</xs:documentation>
			<xs:appinfo>
				<ViewControl>
					<Text/>
				</ViewControl>
				<EditControl>
					<Textbox Size="Middle"/>
				</EditControl>
				<Error Text="Введите строку длиной до 260 символов, исключая специальные символы и двойные пробелы"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="ct:StringType">
			<xs:maxLength value="260"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringShortType">
		<xs:annotation>
			<xs:documentation>Короткая строка (до 50 символов)</xs:documentation>
			<xs:appinfo>
				<ViewControl>
					<Text/>
				</ViewControl>
				<EditControl>
					<Textbox Size="Small"/>
				</EditControl>
				<Error Text="Введите строку длиной до 50 символов, исключая специальные символы и двойные пробелы"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="ct:StringType">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SnilsType">
		<xs:annotation>
			<xs:documentation>СНИЛС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:StringType">
			<xs:maxLength value="14"/>
			<xs:pattern value="\d{3}-\d{3}-\d{3} \d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="XmlType">
		<xs:annotation>
			<xs:documentation>XML-ответ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:simpleType name="YearType">
		<xs:annotation>
			<xs:documentation>Год</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:gYear">
			<xs:minInclusive value="1600"/>
			<xs:maxInclusive value="2050"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Общие составные типы-->
	<xs:complexType name="FIOType">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LastName">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ct:LastNameType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FirstName">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ct:FirstNameType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MiddleName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ct:MiddleNameType"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResidentInfoType">
		<xs:annotation>
			<xs:documentation>Информация о гражданине</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIO" type="ct:FIOType">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gender" type="ct:GenderType">
				<xs:annotation>
					<xs:documentation>Пол</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDate" type="ct:BirthDateType">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseHtmlType">
		<xs:annotation>
			<xs:documentation>Ответ на запрос, содержащий ответ в HTML формате</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Xml" type="ct:Base64Type">
				<xs:annotation>
					<xs:documentation>XML-ответ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Html" type="ct:Base64Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>HTML-файл, полученный путем преобразования ответа с помощью XSLT-преобразования</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShortResidentInfoType">
		<xs:annotation>
			<xs:documentation>Краткая информация о гражданине</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIO" type="ct:FIOType">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDate" type="ct:BirthDateType">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UlInfoType">
		<xs:annotation>
			<xs:documentation>Сведения о юридическом лице, осуществляющем запрос</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="ct:String1000Type">
				<xs:annotation>
					<xs:documentation>Наименование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INNUL" type="ct:INNULType">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OGRN">
				<xs:annotation>
					<xs:documentation>ОГРН</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ct:OGRNType">
						<xs:pattern value="[125]{1}\d{12}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DoubleType">
		<xs:annotation>
			<xs:documentation>тип Double</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="DecimalType">
		<xs:annotation>
			<xs:documentation>тип Decimal</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:complexType name="FIO100Type">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LastName" type="ct:LastName100Type">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstName" type="ct:FirstName100Type">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="ct:MiddleName100Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FirstName100Type">
		<xs:annotation>
			<xs:documentation>Имя</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:String100Type"/>
	</xs:simpleType>
	<xs:simpleType name="LastName100Type">
		<xs:annotation>
			<xs:documentation>Фамилия</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:String100Type"/>
	</xs:simpleType>
	<xs:simpleType name="MiddleName100Type">
		<xs:annotation>
			<xs:documentation>Отчество</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:String100Type"/>
	</xs:simpleType>
	<xs:complexType name="ResidentInfo100Type">
		<xs:annotation>
			<xs:documentation>Информация о гражданине</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIO" type="ct:FIO100Type">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gender" type="ct:GenderType">
				<xs:annotation>
					<xs:documentation>Пол</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDate" type="ct:DateGeneralType">
				<xs:annotation>
					<xs:documentation>Дата рождения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MonthYearGeneralType">
		<xs:annotation>
			<xs:documentation>Месяц и год</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:gYearMonth"/>
	</xs:simpleType>
	<xs:simpleType name="DocumentCodeType">
		<xs:annotation>
			<xs:documentation>Вид документа, удостоверяющего личность.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ct:EnumerationType">
			<xs:enumeration value="01">
				<xs:annotation>
					<xs:documentation>Паспорт гражданина СССР</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="02">
				<xs:annotation>
					<xs:documentation>Загранпаспорт гражданина СССР</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="03">
				<xs:annotation>
					<xs:documentation>Свидетельство о рождении</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="04">
				<xs:annotation>
					<xs:documentation>Удостоверение личности офицера</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="05">
				<xs:annotation>
					<xs:documentation>Справка об освобождении из места лишения свободы</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="06">
				<xs:annotation>
					<xs:documentation>Паспорт Минморфлота</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="07">
				<xs:annotation>
					<xs:documentation>Военный билет солдата (матроса, сержанта, старшины)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="08">
				<xs:annotation>
					<xs:documentation>Временное удостоверение, выданное взамен военного билета</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="09">
				<xs:annotation>
					<xs:documentation>Дипломатический паспорт гражданина Российской федерации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>Иностранный паспорт</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation>Свидетельство о рассмотрении ходатайства о признании беженцем по существу</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation>Вид на жительство лица без гражданства</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation>Удостоверение беженца в Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation>Временное удостоверение личности гражданина Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation>Разрешение на временное проживание лица без гражданства в Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="18">
				<xs:annotation>
					<xs:documentation>Свидетельство о предоставлении временного убежища на территории Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="21">
				<xs:annotation>
					<xs:documentation>Паспорт гражданина Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="22">
				<xs:annotation>
					<xs:documentation>Загранпаспорт гражданина Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="23">
				<xs:annotation>
					<xs:documentation>Свидетельство о рождении, выданное уполномоченным органом иностранного государства</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="24">
				<xs:annotation>
					<xs:documentation>Удостоверение личности военнослужащего Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="26">
				<xs:annotation>
					<xs:documentation>Паспорт моряка</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="27">
				<xs:annotation>
					<xs:documentation>Военный билет офицера запаса</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="61">
				<xs:annotation>
					<xs:documentation>Свидетельство о регистрации по месту жительства</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="81">
				<xs:annotation>
					<xs:documentation>Свидетельство о смерти</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="91">
				<xs:annotation>
					<xs:documentation>Иные документы, предусмотренные законодательством Российской Федерации</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YearGeneralType">
		<xs:annotation>
			<xs:documentation>Год без ограничений</xs:documentation>
			<xs:appinfo>
				<Error Text="Введите дату в формате ДД.ММ.ГГГГ, не ранее 01.01.1600 и не позднее 31.12.2050"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:gYear"/>
	</xs:simpleType>
	<xs:simpleType name="PositiveIntegerType">
		<xs:annotation>
			<xs:documentation>Положительное число</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger"/>
	</xs:simpleType>
</xs:schema>
